@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>

    Maersk Line<br />
    Hicom-glenmarie Industrial Park, <br/>
    40150 Shah Alam,<br/>
    Selangor, <br/>
    Malaysia <br/>
    <abbr title="Phone">P:</abbr>
    +60 3-5639 0200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Maerskline@mail.com</a><br />
</address>
